@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
    --primary-color: #e8dfd9;
    --bs-navbar-nav-link-padding-x: 0;
    --word-color: #000000A6;
    --word-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
    min-height: 100vh;
    background-color: var(--primary-color) !important;
    padding: 2rem;
}

#my-name {
    font-family: 'Gistesy', sans-serif;
    color: rgb(65, 58, 58);
    size: 5rem;
    font-weight: bolder;
    text-transform: uppercase;
}


.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
    /* TODO add spaces 35px btw nav-items */
}

.nav-link {
    text-transform: uppercase;
    color: var(--word-color);
    font-family: var(--word-family);
}

/* start */

.card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    border-radius: 6px;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    display: flex;
    font-size: 1.5em;
    color: rgba(88, 250, 107, 0);
    cursor: pointer;
    font-family: cursive;
    padding: 1.5rem;
}

.card:hover {
    color: rgb(126, 88, 250);
    transition: color 1s;
}

.card:hover:before,
.card:hover:after {
    animation: none;
    opacity: 0;
}


.card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 10px;
    background-image: linear-gradient(var(--rotate), #2cbae1, #3ce3b4 43%, #fed349);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 10s linear infinite;
}

.card::after {
    position: relative;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate), #ebd46b, #e39d3c 43%, #00c2b5);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

.card img {
    position: relative;
    max-width: 100%;
    height: auto;

}

.photoCaption {
    color: var(--word-color);
    text-decoration: none;
    font-family:var(--word-family);
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;
    gap:6px;
    padding-left: 2rem;
    padding-top: 3px;
}

.bigword {
    color: var(--word-color);
    font-family: var(--word-family);
    font-weight: bold;
    font-size: larger;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.smallword{
    text-transform: capitalize;
    color: var(--word-color);
    font-family: var(--word-family);
    margin: 1rem;
    font-size: large;
}

.corgi-photo{
    transform: rotate(0.95turn);
    padding: 2rem;
    }

img.corgi-photo{
padding-left: 2rem;
}
.card-wordings img{
    height: auto;
    width: 10rem;
    box-sizing: border-box;
    border-radius: 100%;
}

.youtubeCorgi{
    margin-top: 2rem;
}
.margin{
    margin-left: 15rem;
}
.blank{
    margin:10rem;
}
