:root {
    --primary-color: #e8dfd9;
    /* --bs-navbar-nav-link-padding-x: 0; */
    --logo-family: 'Gistesy', sans-serif;
    --word-color: #000000A6;
    --word-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --bs-body-font-size: 1.5vw; 
    --logo-size:1.2vw;
    /* TODO 1. font size  2. logo size */ 
}

body {
    background-color: var(--primary-color) !important;
}

#menu-bar{
    padding: 1rem !important;
}

#my-logo {
    color: var(--word-color);
    size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: var(--logo-family);
}

.nav-link {
    text-transform: uppercase;
    color: var(--word-color);
    font-family: var(--word-family);
}

.nav-item{
    margin-right: 3.5rem !important;
}
